<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <add key="URL" value="" />
    <add key="TBPREFIX" value="o2_" />
    <add key="CRIPTOKEY" value="afsdljqpoeiu1345876789)(*%6789okadjshfqujem$%¨*(0987uiju7KJHKJKJGkJNjnmhu78iok" />
    <add key="COOKIE_TIMEOUT" value="31536000" /> <!-- 60*60*24*365 sec = 1 year -->
    <add key="SESSION_TIMEOUT" value="86400" /> <!-- 60*60*24 sec = 1 day -->

    <add key="USER_LOGIN_MIN" value="6" />
    <add key="USER_LOGIN_MAX" value="20" />
    <add key="USER_PASSW_MIN" value="5" />
    <add key="USER_PASSW_MAX" value="26" />

    <add key="APP_NAME" value="Hello World" />
    <add key="BACKEND_TITLE" value="Hello World" />
    <add key="SLOGAN" value="" />
    <add key="META_KEYWORDS" value="" />
    <add key="START_DATE" value="2008-01-02 14:23:26" />
    <add key="USER_THEME" value="0" />
    <add key="MULTILANGUAGE" value="1" />
    <add key="USER_SELF_ACTIVATION" value="0" />
    <add key="GFX" value="0" />
  </appSettings>

  <connectionStrings>
    <clear />
    <add name="O2.Properties.Settings.ConnectionString" connectionString="Server=localhost\SQLEXPRESS;Database=O2;Trusted_Connection=Yes;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>